#circle {
    width: 250px;
    height: 250px;
    background: #CED8F6;
    border-radius: 50%; 
  } 
#circle:hover { 
    background-color:#167;
    transform: scale(0.5,0.5);
    transition-timing-function:ease-out;
    transition: transform 2s; 
  }
.t3 {
position: absolute;
right:30px;
top:30px;
bottom:0; 
}