#rotate {
    width: 200px; 
    height: 200px;
    background-color: #CED8F6; 
    transform: rotateY(45deg);
    transition-duration: 2s;
} 
#rotate:hover {
    background-color: #167;
    transform: rotateX(45deg);
    transition-timing-function: linear;
    transition: transform 2s;
}
.t2 {
    position: absolute;
    right:30px;
    top:30px;
    bottom:0; 
}

