#square {
    width: 300px;
    height: 300px; 
    background: #167;  
    margin: auto;
    position: absolute;
    transform: scale(0.5, 0.5);
    transition-timing-function:ease-in-out;
    animation-duration: 1.4s;
    animation-name: animation;
    animation-iteration-count: infinite;
}

@keyframes animation {
      0% {
        transform: scale(0.2);
        background-color: #81BEF7;
    }
    100% {
        transform: scale(1) translate(0, 50px) rotate(360deg);
        background-color: #D358F7;
    }
}

